#questionContainer{
    display: block;
    text-align: center;
    margin-bottom: 1%;
}

.puntos{
    font-size: 1.7em;
}

#question {
    margin-right: 20px;
}

.task{
    font-size: 1.5em;
}

.background{
    background-image: url('../images/quiz/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

p{
    font-size: 1.8em;
    width: auto;
    max-width: 600px;
}

#nextButton{
    font-size: 1.5em;
}

.questionContainer2{
    display: flex;
    flex-wrap: nowrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.option {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    padding: 10px;
    border-radius: 1em;
    transition: background-color 0.3s ease;
    font-size: 2em;
    width: auto;
    max-width: none;
}


.option:hover {
    background-color: #f0f0f0; /* Cambiamos el color de fondo al pasar el cursor */
}

.option.selected {
    background-color: #dc3545; /* Color de fondo rojo para opción incorrecta seleccionada*/
}

.option.correct {
    background-color: #28a745; /* Color de fondo verde para opción correcta */
}

.option.incorrect {
    background-color: #dc3545; /* Color de fondo rojo para opción incorrecta */
}

#nextButton {
    display: block;
    margin: 0 auto; /* Para centrar el botón horizontalmente */
    margin-top: 1%;
}

#restartButton {
    margin: 0 auto; /* Para centrar el botón horizontalmente */
    margin-top: 1%;
}

.result {
    font-size: 200%;
    margin: 2% 0 1% 0;
    text-align: center;
}

img {
    max-width: 600px;
    display: block; /* Para centrar la imagen */
    margin: 0 auto; /* Para centrar la imagen horizontalmente */
    border-radius: 1em;
}

/******************************************************************************************/
.endgame-content {
    text-align: center;
    margin-top: 2%;
    margin-top: 2%;
}

.endgame-image {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.endgame-text {
    font-size: 1.5em;
    margin-top: 2%;
    margin-bottom: 2%;
}
/******************************************************************************************/


/*------Pagina informacion------*/
.header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
}

.header .container {
    background: var(--white);
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    align-items: center;
    padding: 1.5rem 7%;
}

.header h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0 1rem;
}

.header .navbar {
    display: flex;
}

.header .navbar a {
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header .navbar a:hover {
    color: #000000;
    background-color: #FFD700; 
    border-radius: 50%; 
}

.seccion-info {
    background-color: #f3f3f3;
    height: auto;
    width: 1300px;
    margin: 40px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    font-size: 17px;
}

.seccion-info div ul{
    list-style: none;
    color: #5E5E5E;
    line-height: 2.5;
    font-size: 17px;
}


.datos-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.datos-info ul{
    padding: 0;
    margin: 0;
}

.datos-info img{
    align-items: center;
}

.datos-infor li {
    margin-bottom: 10px;
}

.contenedor-li{
    list-style: circle;

}


.footer-info {
    position: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--white);
    margin: 0;
    padding: 1rem;
}

.footer-info .container {
    padding: 1rem;
    text-align: center;
    background-color: var(--green);
}

/*------fin Pagina informacion------*/


@media (max-width: 768px) {
    .puntos {
        font-size: 1.2em;
    }

    .task {
        font-size: 1.2em;
    }

    p {
        font-size: 1.4em;
        margin-left: 1%;
        margin-right: 1%;
    }

    .option {
        font-size: 1.5em;
        margin-left: 1%;
        margin-right: 1%;
    }

    #nextButton {
        font-size: 1.2em;
    }

    #restartButton {
        font-size: 1.2em;
    }

    .result {
        font-size: 150%;
        margin-left: 1%;
        margin-right: 1%;
    }

    img {
        max-width: 90%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 480px) {
    .puntos {
        font-size: 1em;
    }

    .task {
        font-size: 1em;
    }

    p {
        font-size: 1.2em;
        margin-left: 1%;
        margin-right: 1%;
    }

    .option {
        font-size: 1.2em;
        margin-left: 1%;
        margin-right: 1%;
    }

    #nextButton {
        font-size: 1em;
    }

    #restartButton {
        font-size: 1em;
    }

    .result {
        font-size: 120%;
        margin-left: 1%;
        margin-right: 1%;
    }

    img {
        max-width: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }
}