#questionContainer{
    display: block;
    text-align: center;
    margin-bottom: 1%;
}

.puntos{
    font-size: 1.7em;
}

#question {
    margin-right: 20px;
}

.task{
    font-size: 1.5em;
}

.questionContainer2 {
    background-image: url('../images/quiz/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 5%;
    padding-right: 5%;
}

.questionContainer2 #question{
    flex: 1;
    min-width: 200px;
}

.questionContainer2 .background2 {
    background-color: #F3F3F3;
    margin: 2% auto;
    border-radius: 2%;
    position: relative;
    z-index: 2;
    flex: 2;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.questionContainer2 .background2 #instruction {
    margin: 0;
    padding-bottom: 1rem;
    max-width: 580px;
}

.questionContainer2 .background2 #options {
    width: 100%;
    min-width: 100px;
    max-width: 100px;
}

p{
    padding: 1%;
    font-size: 1.8em;
    width: auto;
    max-width: 600px;
}

#nextButton, #restartButton{
    font-size: 1.5em;
    margin-bottom: 2%;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#nextButton:hover, #restartButton:hover {
    color: #000000;
    background-color: #FFD700;
    border-radius: 50%;
}

#restartButton {
    margin: 0 auto;
    margin-top: 1%;
}

.option {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    padding: 10px;
    border-radius: 1em;
    transition: background-color 0.3s ease;
    font-size: 2em;
    width: 100px;
    max-width: 100%;
}


.option:hover {
    color: #000000;
    background-color: #FFD700; 
    border-radius: 10%; 
}

.option.selected {
    background-color: #dc3545;
}

.option.correct {
    background-color: #28a745;
}

.option.incorrect {
    background-color: #dc3545;
}

#nextButton {
    display: block;
    margin: 0 auto;
    margin-top: 1%;
    
}

#result {
    font-size: 200%;
    margin: 2% 0 1% 0;
    text-align: center;
}

img {
    max-width: 450px;
    display: block;
    margin: 2% auto;
    border-radius: 1em;
    border-style:solid black 1px;
}



/******************************************************************************************/
.endgame-content {
    text-align: center;
    margin: 2% auto;
}

.endgame-image {
    max-width: 600px;
    margin: 2% auto;
    border-radius: 10px;
    background-image: url('../images/quiz/background.png');
}

.endgame-text {
    font-size: 1.5em;
    margin-top: 2%;
    margin-bottom: 2%;
}
/******************************************************************************************/


/*------Pagina informacion------*/
.menu-toggle {
    display: none;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    background: var(--white);
    border-bottom: var(--border);
}

.header h1 {
    font-size: 30px;
    text-align: center;
    font-family: "Arial Black", sans-serif; 
    font-weight: bold; 
    color: #f78b1e; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.menu-toggle {
    display: none;
}

.header .navbar a {
    position: relative;
    padding: 10px 15px; 
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.header .navbar a:hover {
    color: #000000;
    background-color: #FFD700; 
    border-radius: 10%; 
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.seccion-info {
    background-color: #f3f3f3;
    height: auto;
    width: 1300px;
    margin: 40px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    font-size: 17px;
}

.seccion-info div ul{
    list-style: none;
    color: #5E5E5E;
    line-height: 2.5;
    font-size: 17px;
}


.datos-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.datos-info ul{
    padding: 0;
    margin: 0;
}

.datos-info img{
    align-items: center;
}

.datos-infor li {
    margin-bottom: 10px;
}

.contenedor-li{
    list-style: circle;

}

.footer-inicio .container {
    padding: 2rem;
    background-color: #20a268;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: relative; 
    color: #ffffff;
}

.footer-inicio .container .navbar {
    display: flex;
    gap: 20px;
}

.footer-inicio .container .navbar a {
    color: #FFD700;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-inicio .container .navbar a:hover {
    color: #000000;
    background-color: #FFD700;
    border-radius: 10%;
}

.footer-inicio .container p {
    font-size: 16px;
    margin-top: 2%;
    margin-bottom: 2%;
}


.avatar-list {
    display: flex;
    align-items: center;
    gap: 2%;
}

.avatar-list h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-right: 2%;
}

.avatar-list ul {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.avatar-list li {
    display: flex;
    align-items: center;
    margin: 0 15px,
}

.avatar-list li a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
}

.avatar-list li a:hover {
    color: #000000;
    background-color: #FFD700;
    border-radius: 10%;
}

.avatar-list li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}



/*------fin Pagina informacion------*/
@media (max-width: 480px) {
    .header h1 {
        font-size: 15px;
        margin-left: 0;
        margin-top: 2rem;
    }

    .header .container {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .navbar a {
        font-size: 12px;
        margin: 10px 0;
    }

    .header .navbar a:hover {
        border-radius: 50%;
    }
  
    .puntos {
        font-size: 1em;
    }

    .task {
        font-size: 1em;
    }

    p {
        font-size: 1.2em;
        margin-left: 1%;
        margin-right: 1%;
    }

    .option {
        font-size: 1.2em;
        margin-left: 1%;
        margin-right: 1%;
    }

    #nextButton {
        font-size: 1em;
    }

    #restartButton {
        font-size: 1em;
    }

    .result {
        font-size: 120%;
        margin-left: 1%;
        margin-right: 1%;
    }

    img {
        max-width: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 15px;
        margin: 1% auto;
    }
    
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }

    .puntos {
        font-size: 1.2em;
    }

    .task {
        font-size: 1.2em;
    }

    p {
        font-size: 1.4em;
        margin-left: 1%;
        margin-right: 1%;
    }

    .option {
        font-size: 1.5em;
        margin-left: 1%;
        margin-right: 1%;
    }

    #nextButton {
        font-size: 1.2em;
    }

    #restartButton {
        font-size: 1.2em;
    }

    .result {
        font-size: 150%;
        margin-left: 1%;
        margin-right: 1%;
    }

    img {
        max-width: 90%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 1200px) {
    .header .container {
    flex-direction: column;
    align-items: center;
}
}