:root {
    --main-color: #000000;
    --white: #ffffff;
    --green: #20a268;
    --border: .1rem solid rgba(0, 0, 0, 0.795);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/La-Pampa.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background: var(--white);
    padding: 1.5rem 7%;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 15rem;
}

.navbar {
    display: flex;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.header .navbar a {
    position: relative;
    padding: 10px 15px; 
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.header .navbar a:hover {
    color: #000000;
    background-color: #FFD700; 
    border-radius: 50%; 
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px 0; /* Espacio entre el contenido y el header/footer */
}

.contenedor {
    width: 100%;
    max-width: 920px;
    height: 280px;
    background: linear-gradient(#b7d6c7, transparent) #ffe2d1;
    transition: background-color 1s linear;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.animal {
    width: 84px;
    height: 84px;
    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;
    background: url(../images/runner/yaguarete.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;
}

.animal-corriendo {
    animation: animarAnimal 0.25s steps(2) infinite;
}

.animal-estrellado {
    background-position-x: -252px;
}

@keyframes animarAnimal {
    from {
        background-position-x: -84px;
    }
    to {
        background-position-x: -252px;
    }
}

.suelo {
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/runner/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;
}

.score {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;
    color: #d48872;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.cactus {
    width: 46px;
    height: 96px;
    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;
    background: url(../images/runner/arbol1.png) no-repeat;
}

.cactus2 {
    width: 98px;
    height: 66px;
    background: url(../images/runner/arbol2.png) no-repeat;
}

.nube {
    width: 92px;
    height: 26px;
    position: absolute;
    z-index: 0;
    background: url(../images/runner/nube.png) no-repeat;
    background-size: 92px 26px;
}

.mediodia {
    background-color: #ffdcf3;
}

.tarde {
    background-color: #ffadad;
}

.noche {
    background-color: #aca8c7;
}

.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #7e928b;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
    z-index: 20; 
}

.descripcion {
    width: 100%;
    max-width: 880px; 
    padding: 20px;
    background-color: #ffffff;
    border-top: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.descripcion h2 {
    margin-top: 0;
    color: #333;
}

.descripcion p {
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.descripcion img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto; /* Center the image */
}

.footer-runner {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
}

.header .container {
    background: var(--white);
    display: flex;
    gap: 1%;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    width: auto;
}

.header h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: var(--green);
    margin: 0;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-runner .container {
    padding: 1rem;
    background-color: var(--green);
    color: var(--white); 
}

/* Estilos para pantallas de al menos 400px de ancho */
@media (min-width: 400px) {
    .contenedor {
        height: 400px; /* Ajustar altura para pantallas medianas */
    }

    .score, .game-over {
        font-size: 24px;
    }

    .descripcion {
        font-size: 14px;
    }
}

/* Estilos para pantallas de hasta 1200px de ancho */
@media (max-width: 1200px) {
    .contenedor {
        height: 500px; /* Ajustar altura para pantallas grandes */
    }

    .score, .game-over {
        font-size: 24px;
    }

    .descripcion {
        font-size: 16px;
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    .contenedor {
        width: 100%;
        height: 280px; /* Ajustar altura para pantallas pequeñas */
    }

    .animal {
        width: 42px;
        height: 42px;
        bottom: 11px;
        left: 21px;
    }

    .cactus {
        width: 23px;
        height: 48px;
        bottom: 8px;
        left: 300px;
    }

    .nube {
        width: 46px;
        height: 13px;
    }

    .score {
        font-size: 18px;
    }

    .game-over {
        font-size: 18px;
    }

    .descripcion {
        font-size: 12px;
    }

    .header h1 {
        margin-left: 0;
        font-size: 18px;
    }

    .navbar a {
        margin: 0 8px;
        font-size: 14px;
    }
}
