:root {
    --main-color: #000000;
    --white: #ffffff;
    --green: #20a268;
    --border: .1rem solid rgba(0, 0, 0, 0.795);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/La-Pampa.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background: var(--white);
    padding: 1.5rem 7%;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header h1 {
    text-align: center;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #f78b1e; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    margin-left: 22rem;
}

.navbar {
    display: flex;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.menu-toggle {
    display: none;
}

.header .navbar a {
    position: relative;
    padding: 10px 15px; 
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.header .navbar a:hover {
    color: #000000;
    background-color: #FFD700; 
    border-radius: 50%; 
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px 0; /* Espacio entre el contenido y el header/footer */
}

.contenedor {
    width: 100%;
    max-width: 920px;
    height: 280px;
    background: linear-gradient(#b7d6c7, transparent) #ffe2d1;
    transition: background-color 1s linear;
    position: relative;
    overflow: hidden;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.animal {
    width: 84px;
    height: 84px;
    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;
    background: url(../images/runner/yaguarete.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;
}

.animal-corriendo {
    animation: animarAnimal 0.25s steps(2) infinite;
}

.animal-estrellado {
    background-position-x: -252px;
}

@keyframes animarAnimal {
    from {
        background-position-x: -84px;
    }
    to {
        background-position-x: -252px;
    }
}

.suelo {
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/runner/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;
}

.score {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;
    color: #d48872;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.cactus {
    width: 46px;
    height: 96px;
    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;
    background: url(../images/runner/arbol1.png) no-repeat;
}

.cactus2 {
    width: 98px;
    height: 66px;
    background: url(../images/runner/arbol2.png) no-repeat;
}

.nube {
    width: 92px;
    height: 26px;
    position: absolute;
    z-index: 0;
    background: url(../images/runner/nube.png) no-repeat;
    background-size: 92px 26px;
}

.mediodia {
    background-color: #ffdcf3;
}

.tarde {
    background-color: #ffadad;
}

.noche {
    background-color: #aca8c7;
}

.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #7e928b;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
    z-index: 20; 
}

.descripcion {
    width: 100%;
    max-width: 880px; 
    padding: 20px;
    background-color: #ffffff;
    border-top: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.descripcion h2 {
    margin-top: 0;
    color: #333;
}

.descripcion p {
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.descripcion img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto; /* Center the image */
}

.footer-runner {
    position: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--green);
    margin-top: 3rem;
    padding: 1rem;
}

.footer-runner .container {
    padding: 2rem;
    background-color: var(--green);
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: relative; 
    color: var(--white); 
}

.footer-runner .container .navbar {
    display: flex;
    gap: 20px;
}

.footer-runner .container .navbar a {
    color: #FFD700;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-runner .container .navbar a:hover {
    color: #000000;
    background-color: #FFD700;
    border-radius: 10%;
}

.footer-runner .container p {
    margin-top: 2%;
    margin-bottom: 2%;
}

.avatar-list {
    display: flex;
    align-items: center;
    gap: 2%;
}

.avatar-list h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-right: 2%;
}

.avatar-list ul {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.avatar-list li {
    display: flex;
    align-items: center;
    margin: 0 15px,
}

.avatar-list li a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
}

.avatar-list li a:hover {
    color: #000000;
    background-color: #FFD700;
    border-radius: 10%;
}

.avatar-list li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.toggle-menu {
    display: none; 
}

@media (max-width: 480px) {

    body {
        overflow-y: visible;  
    } 

    main {
        max-width: 100%;
        display: block;
    }

    .header h1 {
        font-size: 15px;
        margin-top: 2rem; 
    }

    .header .container {
        flex-direction: column; 
        align-items: center; 
    }

    .navbar {
        flex-direction: column; 
        align-items: center; 
        margin-top: 10px; 
    }

    .navbar a {
        font-size: 12px;
        margin: 10px 0; 
    }

    .header .navbar a:hover {
        border-radius: 50%;
    }


    .contenedor {
        padding: 8rem 0; 
        width: 100%;
        height: 250px; 
        margin-top: 0; 
        display: flex;
        justify-content: center;
        position: relative;
    }

    .suelo {
        width: 2000px; 
        background-size: 50% 42px; 
    }

    .score {
        right: 25px;
        font-size: 20px; 
    }

    .descripcion {
        font-size: 14px; 
        padding: 10px; 
        margin-bottom: 5rem;
        text-align: center;
    }

    .descripcion p {
        font-size: 15px; 
        text-align: justify;
    }

    .descripcion img {
        max-width: 100%; 
        height: auto; 
    }

    .footer-runner .container {
        padding: 1rem;
    }

    .footer-runner .container .navbar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .avatar-list h2 {
        font-size: 1em;
    }

    .avatar-list li {
        margin: 5px 0;
    }

    .avatar-list li img {
        width: 30px;
        height: 30px;
    }

}
    
@media (max-width: 600px) {
    .header h1 {
        font-size: 15px;
        margin: 1% auto;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }

    .navbar {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    .navbar a {
        font-size: 14px;
        padding: 10px;
        text-align: center;
        margin: 0;
        border-bottom: 1px solid #ddd;
        width: 100%;
    }

    .navbar a:last-child {
        border-bottom: none;
    }

    .navbar.show {
        display: flex;
    }

    .suelo {
        width: 2000px; 
        background-size: 50% 42px; 
    }

    .score {
        right: 70px;
        font-size: 20px;
    }

    .descripcion {
        font-size: 14px; 
        padding: 10px; 
        margin-bottom: 5rem;
        text-align: center;
    }

    .descripcion p {
        font-size: 15px; 
        text-align: justify;
    }

    .descripcion img {
        max-width: 100%; 
        height: auto; 
    }
}

@media (max-width: 1200px) {
    .navbar {
        width: auto; 
    }

    .header .container {
        flex-direction: column; 
        align-items: center; 
    }

    .navbar {
        margin-top: 10px;
        flex-direction: column;
        align-items: center; 
    }

    .contenedor {
        max-width: 920px; 
        margin: 0 auto; 
        padding: 0 20px; 
    }

    .footer-runner {
        position: static; 
        margin-top: 15px;
        padding: 2rem;
        width: 100%; 
    }
}
