@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --main-color: #000000;
    --blue: #ffffff;
    --border: .1rem solid rgba(0, 0, 0, 0.795);
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: 0;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


.navbar {
    display: flex;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.header .container {
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header h1 {
    color: rgb(0, 0, 0);
    text-align: left;
}

.header .navbar a:hover {
    color: #000000;
    text-decoration: underline;
}




.main-inicio {
    display: flex;
    justify-content: center;
}

.seccion-inicio {
    background-color: #f3f3f3;
    height: 500px;
    width: 1000px;
    margin: 40px 0px;
    border-radius: 20px;
    padding: 40px 80px;
}

.seccion-inicio div ul {
    list-style: none;
    color: #5E5E5E;
    line-height: 4;
    font-size: 23px;
}

.datos-inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.titulo {
    display: flex;
    justify-content: center;
}

.titulo h1 {
    font-size: 40px;
    color: #000000;
    font-weight: 600;
}

.datos-inicio img {
    border-radius: 20px;
    border: #000000 2px solid;
}


.footer {
    position: relative;
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: var(--blue);
    margin: 0;
    /* background-color: #00405c; */
}

.footer .container{
    padding: 1rem;
    text-align: center;
    background-color: var(--blue);
    /* background-color: #00405c; */
}

.footer .container img{
    width: 100px;
    height: auto;
}