.hidden {
    color: transparent;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'SF Pixelate', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wordContainer {
    margin-top: 20px;
}

.letter {
    margin: 0 7px;
    position: relative;
    text-align: center;
}

.letter::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
    min-width: 12px;
}

#startButton {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #20a268;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}


#gameMessages{
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    text-align: justify;
}



.footer-juego {
    width: 100%;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 1rem;
    bottom: 0; 
}

.footer-juego .container {
    padding: 1rem;
    text-align: center;
    background-color: #20a268;
}


@media (max-width: 600px) {
    #wordContainer {
        margin-top: 20px;
    }
    img {
        width:90%  
    }

    .letter {
        margin: 0 5px;
        font-size: calc(2rem + 4vw); /* Aumenta el tamaño de la fuente en pantallas pequeñas */
    }

    #startButton {
        padding: 8px;
        font-size: calc(1.5rem + 1.5vw);
    }


    #gameMessages{
        padding: 8px;
        font-size: calc(1rem + 1vw);
        justify-content: center;
        text-align: justify;
    }

    .footer-juego {
        padding: 0.5rem;
    }

    .footer-juego .container {
        padding: 0.5rem;
    }
}